<apex:page standardController="Account" extensions="extn_accountviewpage">
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page
  
  {!Account.Name} {!AccountID}
  <!-- End Default Content REMOVE THIS -->
</apex:page>