<apex:page standardStylesheets="false" showHeader="true" sidebar="false" controller="AngularTryOutPageController"  docType="html-5.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <apex:styleSheet value="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resource/BootstrapDropDowncss"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    

                 <html ng-app="argTryOut" ng-controller="MyCtrl1" ng-init="getcontacts(accId);getAccName(accId);">
            <h4 class="modal-title" id="exampleModalLabel">All the contacts of {{AccName}}</h4>
            <br/>
            <div class="row" ng-show="errorFound">
                    <div class="col-md-12">
                            <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i>Error
                                <ul>
                                    <li ng-repeat="err in errorMessage">{{err}}</li>
                                </ul>
                            </div>
                        </div>
            </div>
            <button class="btn btn-success" ng-click="openModal(null)" >New Contact</button>&nbsp;
            <button class="btn btn-success" ng-click="actionButton('cancel')" >Clear Error</button>
            <button class="btn btn-success" ng-click="openModal('MassDelete')" >Mass Delete</button>
            <button class="btn btn-success" ng-click="openModal('MassInsert')" >Mass Insert</button>
            <br/>
            <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-hover table table-striped table-bordered" style="table-layout:fixed" ng-show="recordsfound">
                    <thead style="background-color:#E8E8E8">
                            <th class="col-md-4">Name</th>
                            <th class="col-md-4">Phone</th>
                            <th class="col-md-4">Email</th>
                            <th class="col-md-4">Edit/Delete</th>
                    </thead>
                    <tr ng-repeat = "con in contactList" ng-class="{success:true}">
                        <td>{{con.cont.Name}}</td>
                        <td>{{con.cont.Phone}}</td>
                        <td>{{con.cont.Email}}</td>
                        <td >
                            <center>
                                <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="openModal(con.cont.Id);">
                                     <i class="fa fa-pencil-square-o"></i>
                                </button>&nbsp;&nbsp;
                                <button data-toggle="tooltip" data-placement="top" title="Delete Contact" class="btn btn-danger" ng-click="DelContact(con.cont.Id);">
                                     <i class="fa fa-trash" ></i>
                                </button>
                            </center>
                            
                        </td>
                    </tr>
                </table>
                <div class="modal fade" id="contactEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">{{modalHeaderLabel}}</h4>
                    </div>
                    <div id="fields" ng-show="!newContact && !massDelete">
                        First Name : <input type="text" class = "form-control" ng-model="contactRecord.FirstName" ng-disabled="false"/>
                        Last Name : <input type="text" class = "form-control" ng-model="contactRecord.LastName" ng-disabled="false"/>
                        Phone : <input type="number" class = "form-control" ng-model="contactRecord.Phone" ng-disabled="false"/>
                        Email : <input type="text" class = "form-control" ng-model="contactRecord.Email" ng-disabled="false"/>
                    </div>
                    <div id="fields_new" ng-show="newContact && !massDelete">
                        First Name : <input type="text" class = "form-control" ng-model="contactRecord.FirstName" ng-disabled="false"/>
                        Last Name : <input type="text" class = "form-control" ng-model="contactRecord.LastName" ng-disabled="false"/>
                        Phone : <input type="text" class = "form-control" ng-model="contactRecord.Phone" ng-disabled="false"/>
                        Email : <input type="text" class = "form-control" ng-model="contactRecord.Email" ng-disabled="false"/>
                    </div>
                    <div id="massdelete" ng-show="massDelete">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table-hover table table-striped table-bordered" style="table-layout:fixed" ng-show="recordsfound">
                                <thead style="background-color:#E8E8E8">
                                        <th class="col-md-1">Selected</th>
                                        <th class="col-md-4">Name</th>
                                </thead>
                                <tr ng-repeat = "con in contactsToDelete" ng-class="{success:true}">
                                    <td><input type="checkbox" class = "form-control" ng-model="con.isChecked" ng-disabled="false"/></td>
                                    <td>{{con.cont.Name}}</td>
                                </tr>
                        </table>
                    </div>
                    <button class="btn btn-success" ng-click="actionButton('save')" ng-show="!massDelete">Save</button>
                    <button class="btn btn-success" ng-click="actionButton('cancel')">Cancel</button>
                    <button class="btn btn-success" ng-click="actionButton('delete')" ng-show="massDelete">Delete</button>
                </div>
                <div class="row" ng-show="errorFound">
                    <div class="col-md-12">
                            <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i>Error
                                <ul>
                                    <li ng-repeat="err in errorMessage">{{err}}</li>
                                </ul>   
                            </div>
                        </div>
                </div>
            </div>
        </div>
            </html>
            
        <apex:remoteObjects >
            <apex:remoteObjectModel name="Contact" jsShorthand="cont" fields="Id,FirstName,LastName,Name,Email,Phone"/>
        </apex:remoteObjects>
        


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
     <script src="/resource/BootstrapDropDownjs"></script>
     <script src="/resource/paginateTemplatejs"></script>
<script>

var myModule = angular.module('argTryOut', []); 
var accId = '{!$CurrentPage.parameters.accid}';
console.log('*'+accId);
</script>
<script src="{!URLFOR($Resource.angularfiles,'factory.js')}"/>
<script src="{!URLFOR($Resource.angularfiles,'controller.js')}"/>
                
 
    
                
</apex:page>